@model EspartoWorld.Web.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-3">
    <div id="carouselExampleIndicators" class="carousel slide col-lg-8" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="max-height: 75vh;">
            <div class="carousel-item active">
                <img src="~/img/home/espartoGrass.jpg" class="d-block w-100 img-fluid rounded" alt="Esparto planta">
                <div class="carousel-caption d-none d-md-block">
                    <div class="rounded bg-secondary">
                        <h5>Esparto planta</h5>
                        <p class="small">Esparto es el nombre con el que se conoce en España a unas fibras obtenidas de diversas plantas silvestres del grupo de las gramíneas, así como a las plantas mismas.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/home/esparto-crudo.jpg" class="d-block w-100 img-fluid rounded" alt="Esparto crudo">
                <div class="carousel-caption d-none d-md-block">
                    <div class="rounded bg-secondary">
                        <h5>Esparto crudo (natural)</h5>
                        <p class="small">Esparto crudo es poco flexible.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/home/esparto-picado.jpg" class="d-block w-100 img-fluid rounded" alt="Esparto picado">
                <div class="carousel-caption d-none d-md-block">
                    <div class="rounded bg-secondary">
                        <h5>Esparto picado</h5>
                        <p class="small">El picado es machacar el esparto, aplastarlo o chafarlo para partirlo en muchas hebras finas, tratamiento que le procura suavidad y plasticidad. La diferencia más grande entre el esparto cocido crudo y picado, es su suavidad y plasticidad y como conclusión se puede decir que con el cocido y el picado se consigue la forma de esparto más resistente.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/home/esparto-products.jpg" class="d-block w-100 img-fluid rounded" alt="Productos de esparto">
                <div class="carousel-caption d-none d-md-block">
                    <div class="rounded bg-secondary">
                        <h5>Productos de esparto</h5>
                        <p class="small">Ya desde la época romana, el ser humano ya desde la ha utilizado la fibra de esparto para la fabricación de pasta de papel, cuerdas y los más variados utensilios (que incluyen, entre otros, zapatos, cestas, redes de pesca, costales, espuertas y capachos para el prensado de la uva y la aceituna).</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="col-lg-4 stretch-card grid-margin">
        <div class="card text-white" style="background-image: url('https://localhost:44395//img/background.jpg');">
            <div class="card-body">
                <a href="/courses/details/@Model.NextCourse.Id">
                    <h4 class="text-dark">Proximo CURSO</h4>
                    <div class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between text-black">
                        <div class="pr-3">
                            <h5>@Model.NextCourse.Title</h5>
                        </div>
                        @if (@Model.NextCourse.ImageUrl != null)
                        {
                            <div class="rotate-img">
                                <img src=@Model.NextCourse.ImageUrl alt="thumb" class="img-fluid img-lg">
                                <div class="badge-positioned">
                                    <span class="badge badge-danger font-weight-bold">Ultimas plasaz</span>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="dropdown-divider"></div>
                </a>

                <a href="/news/all">
                    <h4 class="text-dark">Ultimas NOTICIAS</h4>
                    <div class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between text-dark">
                        <div class="pr-3">
                            <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                        </div>
                        <div class="rotate-img">
                            <img src="assets/images/dashboard/home_2.jpg" alt="thumb" class="img-fluid img-lg">

                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                </a>

                <a href="/videos/all">
                    <h4 class="text-dark">Ultimo en VIDEOS</h4>
                    <div class="d-flex pt-4 align-items-center justify-content-between text-dark">
                        <div class="pr-3">
                            <h6>@Model.LastVideo.Title</h6>
                        </div>
                        <div class="rotate-img">
                            <img src="https://img.youtube.com/vi/@Model.LastVideo.VideoId/mqdefault.jpg" alt="thumb" class="img-fluid img-lg">
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <img class="img-fluid w-100" src="~/img/footerImage.jpg" alt="" />
</div>



