@model EspartoWorld.Web.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-3">
    <div class="col-lg-8">
        <partial name="_IndexCarouselPartial" />
    </div>
    <aside class="col-lg-4">
        <partial name="_IndexAsideSectionPartial" model="Model">
    </aside>
</div>

<div class="row">
    <img class="img-fluid w-100" src="~/img/footerImage.jpg" alt="" />
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/videosAll.css" />
}


