<h3 class="text-success">Gracias por compartir con nosotros vuestro trabajo de artesania!</h3>
<p class="text-dark">Despues de revisar que vuestra obra de arte cumple todos criterios de esta pagina vamos a publicarla para pueden desfrutarla todos nuestros visitantes. Nos guardamos derecho para revisar descripcion titulo y otros elementos en manera que va a favorecer presentacion.</p>
<div class="d-flex justify-content-center">
    <span>
        <a class="btn btn-success m-1" asp-action="All">Ver toda exposicion</a>
    </span>
</div>