@model IEnumerable<EspartoWorld.Web.ViewModels.Courses.CourseViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Dates</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.StartDateString - @item.EndDateString</td>
            <td>@item.Title</td>
            <td>
                <a class="btn btn-primary" href="/Courses/Details/@item.Id">Details</a>
            </td>
        </tr>
        }        
    </tbody>
</table>
