@model IEnumerable<EspartoWorld.Web.ViewModels.Videos.VideoViewModel>
<div class="container">
    <div class="row">
        @foreach (var video in Model)
        {
            string imageUrl = $"https://img.youtube.com/vi/{video.VideoId}/mqdefault.jpg";
            <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                <a href="/videos/play/@video.VideoId">
                    <div class="card border-primary h-100">
                        <img class="card-img-top img-fluid" src=@imageUrl alt="Video Image">
                        <div class="card-block">
                            <div class="m-2">
                                <h4 class="card-title">@video.Title</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>